<div class="row">
<%= paginate @tweets %>
</div>

<%= form_tag(admin_index_path) do %>
<div class="row">
	<% @tweets.each do |tweet| %>
	<div class="col-xs-12 col-sm-6 col-md-2">
		<%= check_box_tag "ids[]", "#{tweet.id}" %>
		<%= image_tag(tweet.url, class: "img-thumbnail img-responsive") %>
	</div>
	<% end %>
</div>
<%= submit_tag 'DELETE', :disable_with => 'Please wait...', class: "btn btn-primary" %>
<% end %>

<div class="row">
<%= paginate @tweets %>
</div>

